Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

fix(tests): skip gssapi in the localhost ssh probe instead of unsharing it
  tests/conftest.py
Due: none

fix(raw): identify a stream the same way at every listing site
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_stream_identity.py
Due: none

chore: release 0.9.7
  CHANGELOG.md
  pyproject.toml
Due: none

fix(raw): honour a retention lock on the delete path
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_deletion_honours_locks.py
Due: none

fix(prune): report what a deletion actually did
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_deletion_verdict.py
  tests/test_prune_gates.py
  tests/test_prune_honours_scopes.py
  tests/test_r10d_prune_safety.py
  tests/test_run_prunes.py
  tests/test_snapper_retention_plan.py
Due: CLI Commands

fix(raw+ssh): protect the remote publish window and the .part write
  src/btrfs_backup_ng/endpoint/raw.py
  tests/lockshell.py
  tests/test_raw_atomic_write.py
  tests/test_raw_lock.py
Due: none

fix(delete): honour --convert-rw and --sync
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_deletion_flags.py
Due: none

fix(raw+ssh): ask the remote host about a remote target
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_rawssh_is_actually_remote.py
Due: none

test(tier3): add a foreign raw+ssh axis and guard the teardown enumeration
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
Due: none

fix(transfer): delete only the partial this run created
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_cleanup_authorship.py
  tests/test_r2_cleanup_recovery.py
Due: Core Library

fix(cleanup): scope verify and snapper restore to what they created
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/core/verify.py
  tests/test_cleanup_authorship.py
Due: Core Library

fix(ssh): require the authorship decision at every cleanup call site
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_cleanup_authorship.py
  tests/test_r1_transfer_success_contract.py
  tests/test_r2_cleanup_recovery.py
  tests/test_ssh_stream_compression.py
Due: Core Library

fix(raw): give a raw snapshot's time_obj local fields
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_snapshot_interface.py
  tests/test_raw_snapshot_time.py
Due: none

fix(notifications): bound the SMTP connection
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/notifications.py
  tests/test_notification_timeouts.py
  tests/test_notifications.py
Due: CLI Commands, Configuration, Utilities

fix(transfer): stop reading the no-limit sentinel as a zero timeout
  src/btrfs_backup_ng/core/transfer.py
  tests/test_timeout_sentinel.py
Due: Core Library

fix(run): report how many snapshots a transfer actually delivered
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  tests/test_prepare_failure_accounting.py
  tests/test_r6_cli_roundtrip.py
  tests/test_require_mount_enforced.py
  tests/test_run_fate_sharing.py
  tests/test_space_flags.py
  tests/test_transfer_result_consumed.py
Due: CLI Commands

fix(ssh): check readiness before a transfer, not up to five minutes before
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_readiness_is_fresh.py
Due: none

fix(doctor): stop reporting OK for checks that did not run
  src/btrfs_backup_ng/core/doctor.py
  tests/test_doctor.py
  tests/test_doctor_earns_its_verdicts.py
Due: Core Library

fix(restore): stop prefix inference overriding an explicit empty prefix
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_explicit_empty_prefix.py
Due: Core Library, CLI Commands

fix(transfer): release a pipe once a child has inherited it
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_pipeline_fd_handoff.py
Due: Core Library

refactor(transfer): one chainer for every pipeline
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_pipeline_fd_handoff.py
Due: Core Library

fix(raw): a sidecar whose stream is gone is not a backup
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_phantom_streams.py
Due: none

fix(cli): stop exiting 0 for the state the command exists to detect
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/install.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/cli/status.py
  tests/test_cli_exit_codes.py
  tests/test_raw_verify.py
Due: CLI Commands

fix(retention): register a new snapshot once, not once per command
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_snapshot_registered_once.py
Due: none

fix(raw): keep N usable backups, not N slots one of which is locked
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_retention_honours_locks.py
Due: none

fix(restore): stop deleting subvolumes cleanup cannot prove are ours
  src/btrfs_backup_ng/cli/restore.py
  tests/test_cleanup_scavenger_authorship.py
  tests/test_restore.py
Due: CLI Commands

fix(legacy): make --remove-locks remove locks
  src/btrfs_backup_ng/_legacy_main.py
  tests/test_remove_locks_flag.py
Due: none

fix(config): carry skip_remote_lock from the config file to the target
  src/btrfs_backup_ng/config/loader.py
  tests/test_target_options_reach_the_target.py
Due: Configuration

fix(ssh): bound the wait on the ssh_sudo transfer pipeline
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_sudo_pipeline_is_bounded.py
Due: none

fix(ssh): bound the post-send tail instead of waiting forever
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_post_send_tail_is_bounded.py
Due: none

fix(prune): stop notifying success for a prune that reported failure
  src/btrfs_backup_ng/cli/prune.py
  tests/test_prune_notification_status.py
Due: CLI Commands

fix(estimate): do not skip the space check by claiming there is no data
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/core/estimate.py
  tests/test_space_check_not_skipped_silently.py
Due: Core Library, CLI Commands

fix(legacy): fail the run when its retention failed
  src/btrfs_backup_ng/_legacy_main.py
  tests/test_legacy_cleanup_verdict.py
  tests/test_r1_legacy_exit_code.py
Due: none

test(ssh): drive the tail bound from inside the monitor loops
  tests/test_tail_bound_fires_in_the_loop.py
Due: none

fix(raw+ssh): elevate only where elevation is actually needed
  src/btrfs_backup_ng/endpoint/raw.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_raw_atomic_write.py
  tests/test_raw_endpoint.py
  tests/test_raw_ssh_restore.py
  tests/test_rawssh_elevates_only_when_needed.py
  tests/test_rawssh_sudo_denial.py
Due: none

docs(tier3): correct the matrix inventory after the last xfail cleared
  tests/integration/tier3/test_acceptance_matrix.py
Due: none

fix(ssh): scope sudo to btrfs so a documented sudoers policy works
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_stream_compression.py
  tests/test_sudo_receive_scoping.py
Due: none

test(tier3): add a sudoers-policy axis in throwaway containers
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
Due: none

fix(ssh): never need a root shell, and close the last sudoers policy
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_ssh_stream_compression.py
  tests/test_sudo_receive_scoping.py
Due: none

docs(tier3): retire a note that its own fix made false
  tests/integration/tier3/test_acceptance_matrix.py
Due: none
