Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

fix(retention): ISO-week bucketing + calendar-aware month/year min (R10c)
  src/btrfs_backup_ng/retention.py
  tests/test_retention.py
Due: Utilities

fix(retention): ISO-week bucketing + calendar-aware month/year min (R10c) (#58)
  src/btrfs_backup_ng/retention.py
  tests/test_retention.py
Due: Utilities

feat(prune): confirmation gate + degenerate-policy guardrail (R10d)
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/prune.py
  tests/test_r10d_prune_safety.py
Due: CLI Commands

feat(prune): confirmation gate + degenerate-policy guardrail (R10d) (#59)
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/prune.py
  tests/test_r10d_prune_safety.py
Due: CLI Commands

docs(retention): mark the legacy count-based path as legacy (R10e)
  src/btrfs_backup_ng/core/execution.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: Core Library

docs(retention): mark the legacy count-based path as legacy (R10e) (#60)
  src/btrfs_backup_ng/core/execution.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: Core Library

chore: Bump version to 0.9.0
  CHANGELOG.md
  pyproject.toml
Due: none

chore: Bump version to 0.9.0 (#61)
  CHANGELOG.md
  pyproject.toml
Due: none

docs: document prune --yes/--force + confirmation gate and 0.9.0 retention semantics
  README.md
  docs/CLI-REFERENCE.md
  docs/MIGRATING-FROM-BTRBK.md
  man/man1/btrfs-backup-ng-prune.1
  man/man1/btrfs-backup-ng.1
Due: none

docs: document prune --yes/--force + confirmation gate and 0.9.0 retention semantics (#62)
  README.md
  docs/CLI-REFERENCE.md
  docs/MIGRATING-FROM-BTRBK.md
  man/man1/btrfs-backup-ng-prune.1
  man/man1/btrfs-backup-ng.1
Due: none

feat(run): apply retention after transfer -- run = snapshot + transfer + prune (0.9.1)
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  tests/test_r10d_prune_safety.py
  tests/test_r6_cli_roundtrip.py
  tests/test_run_prunes.py
Due: CLI Commands

feat(run): apply retention after transfer -- run = snapshot + transfer + prune (0.9.1) (#63)
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  tests/test_r10d_prune_safety.py
  tests/test_r6_cli_roundtrip.py
  tests/test_run_prunes.py
Due: CLI Commands

fix(verify): general verify checks the sealed sha256 on raw targets (R8a)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_cli_verify.py
  tests/test_raw_verify.py
Due: Core Library, CLI Commands

test(verify): cover verify_raw_checksums branch paths (R8a)
  tests/test_verify.py
Due: none

fix(verify): general verify checks the sealed sha256 on raw targets (R8a) (#64)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_cli_verify.py
  tests/test_raw_verify.py
  tests/test_verify.py
Due: Core Library, CLI Commands

fix(verify): metadata level validates structure, not just names (R8b)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier2/test_verify_structure_real.py
  tests/test_verify.py
Due: Core Library

test(verify): cover local verify_structure ok/unverifiable branches at unit level (R8b)
  tests/test_verify.py
Due: none

fix(verify): metadata level validates structure, not just names (R8b) (#65)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier2/test_verify_structure_real.py
  tests/test_verify.py
Due: Core Library

fix(verify): polymorphic stream-verify; drop dead ssh branch + orphaned cluster (R8c)
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_verify.py
Due: Core Library

fix(verify): polymorphic stream-verify; drop dead ssh branch + orphaned cluster (R8c) (#66)
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_verify.py
Due: Core Library

fix(verify): verify_full full-send restore; fixes F5 false-negative (R8d)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/verify.py
  tests/integration/tier2/test_verify_full_real.py
  tests/test_atomic_commit_wiring.py
  tests/test_verify.py
Due: Core Library

test(verify): Tier1 unit coverage for R8d preflight/cleanup helpers
  tests/test_verify.py
Due: none

fix(verify): verify_full full-send restore; fixes F5 false-negative (R8d) (#67)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/verify.py
  tests/integration/tier2/test_verify_full_real.py
  tests/test_atomic_commit_wiring.py
  tests/test_verify.py
Due: Core Library

feat(verify): honest output, top-level verdict, and chain-wide --all (R8e)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/core/verify.py
  tests/test_cli_verify.py
  tests/test_verify.py
Due: Core Library, CLI Commands

feat(verify): honest output, top-level verdict, and chain-wide --all (R8e) (#68)
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/core/verify.py
  tests/test_cli_verify.py
  tests/test_verify.py
Due: Core Library, CLI Commands

feat(persistence): atomic state, manifest & lock writes via one shared primitive (R7)
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/chunked_transfer.py
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/core/state.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_r7_atomic_persistence.py
  tests/test_raw_backfill.py
Due: Core Library, CLI Commands, Utilities

test(persistence): cover archive-unreadable branch in archive_operation (R7)
  tests/test_r7_atomic_persistence.py
Due: none

feat(persistence): atomic state, manifest & lock writes via one shared primitive (R7) (#69)
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/chunked_transfer.py
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/core/state.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_r7_atomic_persistence.py
  tests/test_raw_backfill.py
Due: Core Library, CLI Commands, Utilities

fix(ssh): verify host keys on the paramiko path + honor ssh_opts/known_hosts (R12a)
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_r12a_ssh_hostkey.py
Due: none

fix(ssh): verify host keys on the paramiko path + honor ssh_opts/known_hosts (R12a) (#70)
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_r12a_ssh_hostkey.py
Due: none

feat(ssh): configurable ssh_host_key_policy (accept-new|strict) across transports (R12b)
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_r12b_hostkey_policy.py
Due: CLI Commands, Configuration

fix(ssh): thread ssh_host_key_policy on run/list/status/restore config paths (R12b review)
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/config/schema.py
  tests/test_r12b_hostkey_policy.py
Due: CLI Commands, Configuration

feat(ssh): configurable ssh_host_key_policy (accept-new|strict) across transports (R12b) (#71)
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_r12b_hostkey_policy.py
Due: CLI Commands, Configuration

fix(ssh): harden control-socket dir + command lock against predictable-path races (R12c)
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/integration/test_endpoints.py
  tests/test_r12c_control_lock_hardening.py
Due: none

test(ssh): stub _command_lock_path in geteuid-mocked endpoint tests (R12c CI fix)
  tests/integration/test_endpoints.py
Due: none

fix(ssh): harden control-socket dir + command lock against predictable-path races (R12c) (#72)
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/integration/test_endpoints.py
  tests/test_r12c_control_lock_hardening.py
Due: none

fix(raw+ssh): symlink-safe remote sidecar write + snapper host-key flag (R12d pt1)
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r12b_hostkey_policy.py
  tests/test_raw_sidecar_writer.py
Due: CLI Commands

fix(raw+ssh): symlink-safe remote sidecar write + snapper host-key flag (R12d pt1) (#73)
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r12b_hostkey_policy.py
  tests/test_raw_sidecar_writer.py
Due: CLI Commands

chore(ssh): remove dead files + document SSH security posture (R12d pt2)
  CHANGELOG.md
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng.1
  src/btrfs_backup_ng/ssh_transfer.py
  src/btrfs_backup_ng/sshutil/master.py.new
Due: none

chore(ssh): remove dead files + document SSH security posture (R12d pt2) (#74)
  CHANGELOG.md
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng.1
  src/btrfs_backup_ng/ssh_transfer.py
  src/btrfs_backup_ng/sshutil/master.py.new
Due: none

Path conditions:
  Core Library: any of: src/btrfs_backup_ng/core/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  CLI Commands: any of: src/btrfs_backup_ng/cli/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Configuration: any of: src/btrfs_backup_ng/config/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Utilities: any of: src/btrfs_backup_ng/__util__.py, src/btrfs_backup_ng/transaction.py, src/btrfs_backup_ng/retention.py, src/btrfs_backup_ng/notifications.py, but not: tests/**, **/__pycache__/**, **/conftest.py
