Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

chore: bump version to 0.9.1
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.9.1 (#75)
  CHANGELOG.md
  pyproject.toml
Due: none

docs: document ssh_host_key_policy across README + per-command manpages
  README.md
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  man/man1/btrfs-backup-ng-verify.1
Due: none

docs: document ssh_host_key_policy across README + per-command manpages (#76)
  README.md
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  man/man1/btrfs-backup-ng-verify.1
Due: none

fix(snapper): write the .snapper-meta.json sidecar atomically (R11 pt1, R7 deferral)
  src/btrfs_backup_ng/snapper/metadata.py
Due: none

feat(snapper): enumerate raw:// / raw+ssh:// snapper backups via sidecars (R11 pt2)
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_restore.py
Due: Core Library

feat(snapper): materialize raw:// / raw+ssh:// snapper streams on restore (R11 pt3)
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
Due: Core Library

fix(snapper): preserve multi-entry userdata across info.xml round-trip (R11)
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_restore.py
  tests/test_snapper_metadata.py
Due: Core Library

fix(snapper): address R11 adversarial-review findings (#1-#6 + perms)
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_restore.py
  tests/test_snapper_metadata.py
Due: Core Library, CLI Commands

feat(snapper): hint to refresh snapperd cache after restore + doc the caveats
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/snapper_cmd.py
  tests/test_snapper_cmd.py
Due: CLI Commands

R11: Restore snapper backups from raw:// / raw+ssh:// targets (#78)
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
  tests/test_snapper_metadata.py
Due: Core Library, CLI Commands

feat(snapper): name/date addressing for raw restore + fix collision double-restore
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands

fix(snapper): address r11b adversarial-review findings (UX/hygiene polish)
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  src/btrfs_backup_ng/cli/snapper_cmd.py
  tests/test_completions.py
  tests/test_snapper_cmd.py
Due: CLI Commands

docs(snapper): fix wrong restore syntax + document collision/restore workflow
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
Due: none

snapper restore: add --backup-name and --date addressing for collisions & fix double-restore bug (#79)
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/restore.py
  tests/test_completions.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands

docs(readme): audit + fix every example command against the real CLI
  README.md
  docs/SNAPPER-INTEGRATION.md
  tests/test_docs_commands.py
Due: none

docs(readme): audit + fix every example command against the real CLI (#80)
  README.md
  docs/SNAPPER-INTEGRATION.md
  tests/test_docs_commands.py
Due: none

feat(snapper): CONFIG optional for `restore --list`; drop stale run completions (0.9.2 Phase 1)
  README.md
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  tests/test_completions.py
  tests/test_snapper_cmd.py
Due: CLI Commands

feat(snapper): CONFIG optional for `restore --list`; drop stale run completions (0.9.2 Phase 1) (#81)
  README.md
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  tests/test_completions.py
  tests/test_snapper_cmd.py
Due: CLI Commands

fix(config): wire ssh_port, warn on unknown keys, thread decrypt opts into restore (0.9.2 Phase 2A)
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/__init__.py
  tests/test_cli_common.py
  tests/test_cli_verify.py
  tests/test_completions.py
  tests/test_config_loader.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands, Configuration

fix(config): wire ssh_port, warn on unknown keys, thread decrypt opts into restore (0.9.2 Phase 2A) (#82)
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/__init__.py
  tests/test_cli_common.py
  tests/test_cli_verify.py
  tests/test_completions.py
  tests/test_config_loader.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands, Configuration

fix(btrbk): translate retention without losing policy fidelity (0.9.2 Phase 2B-i)
  docs/MIGRATING-FROM-BTRBK.md
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import.py
Due: none

fix(btrbk): translate retention without losing policy fidelity (0.9.2 Phase 2B-i) (#83)
  docs/MIGRATING-FROM-BTRBK.md
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import.py
Due: none

feat(wizard): prompt for raw-target encryption in the config wizard (0.9.2 Phase 2B-ii)
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_cmd.py
Due: CLI Commands

feat(wizard): prompt for raw-target encryption in the config wizard (0.9.2 Phase 2B-ii) (#84)
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_cmd.py
Due: CLI Commands

fix(ssh): surface remote btrfs receive stderr in the raised transfer error (#10)
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r1_transfer_success_contract.py
Due: Core Library

fix(ssh): surface remote btrfs receive stderr in the raised transfer error (#10) (#85)
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r1_transfer_success_contract.py
Due: Core Library

fix(ssh): quote paths/names in residual remote-shell command sites (R9)
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/diagnose.py
  tests/test_r9_quoting.py
Due: none

fix(ssh): quote paths/names in residual remote-shell command sites (R9) (#86)
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/diagnose.py
  tests/test_r9_quoting.py
Due: none

fix(wizard): escape all string fields in the config serializer (TOML robustness)
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_cmd.py
Due: CLI Commands

fix(wizard): escape all string fields in the config serializer (TOML robustness) (#87)
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_cmd.py
Due: CLI Commands

fix(cli): --ssh-auth-sock completions/manpages, doctor ISO-timestamp bug, install ExecStart path
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/cli/install.py
  src/btrfs_backup_ng/core/doctor.py
  tests/test_completions.py
  tests/test_doctor.py
  tests/test_install.py
Due: Core Library, CLI Commands

fix(cli): --ssh-auth-sock completions/manpages, doctor ISO-timestamp bug, install ExecStart path (#88)
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  man/man1/btrfs-backup-ng-verify.1
  src/btrfs_backup_ng/cli/install.py
  src/btrfs_backup_ng/core/doctor.py
  tests/test_completions.py
  tests/test_doctor.py
  tests/test_install.py
Due: Core Library, CLI Commands

fix(ssh): bound the ControlMaster socket path under the Unix sun_path limit
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_control_socket_path.py
  tests/test_r12c_control_lock_hardening.py
Due: none

fix(ssh): bound the ControlMaster socket path under the Unix sun_path limit (#89)
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_control_socket_path.py
  tests/test_r12c_control_lock_hardening.py
Due: none

chore: bump version to 0.9.2 + changelog
  CHANGELOG.md
  pyproject.toml
Due: none

chore: bump version to 0.9.2 + changelog (#90)
  CHANGELOG.md
  pyproject.toml
Due: none

fix(packaging): ship docs/ in the source tarball (#91)
  CHANGELOG.md
  MANIFEST.in
Due: none

chore: bump version to 0.9.3 + changelog (#92)
  CHANGELOG.md
  pyproject.toml
Due: none

fix(ssh): quote the remote receive command once, in the producer
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r9_quoting.py
  tests/test_ssh_endpoint.py
  tests/test_ssh_receive_command_quoting.py
Due: none
