Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

fix(packaging): use an SPDX license expression
  pyproject.toml
  tests/test_sdist_carries_what_the_tests_read.py
Due: none

docs(readme): cover what 0.9.4 changed for users
  README.md
Due: none

refactor(ssh): remove the paramiko transport
  CHANGELOG.md
  pyproject.toml
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_paramiko_transfer_compresses.py
  tests/test_r12a_ssh_hostkey.py
  tests/test_r12b_hostkey_policy.py
  tests/test_ssh_receive_command_quoting.py
Due: none

fix(tests): restore the host-key whitelist guard the removal took with it
  README.md
  pyproject.toml
  tests/test_r12a_ssh_hostkey.py
  tests/test_r12b_hostkey_policy.py
  tests/test_ssh_stream_compression.py
Due: none

refactor(ssh): remove the paramiko transport (#94)
  CHANGELOG.md
  README.md
  pyproject.toml
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_paramiko_transfer_compresses.py
  tests/test_r12a_ssh_hostkey.py
  tests/test_r12b_hostkey_policy.py
  tests/test_ssh_receive_command_quoting.py
  tests/test_ssh_stream_compression.py
Due: none

chore(typing): drop 42 dead type: ignore comments and keep them out
  pyproject.toml
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: CLI Commands

chore(typing): drop 42 dead type: ignore comments and keep them out (#95)
  pyproject.toml
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: CLI Commands

fix(transfer): separate a slow transfer from a stuck one
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_stall_detection.py
Due: Core Library, CLI Commands, Configuration, Utilities

fix(transfer): three defects the review found in the stall check
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_stall_detection.py
Due: CLI Commands, Configuration

fix(transfer): no wall clock by default; detect faults by measuring
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_stall_detection.py
  tests/test_transfer_timeout_reporting.py
Due: Core Library, Configuration

fix(transfer): separate a slow transfer from a stuck one (#96)
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_stall_detection.py
  tests/test_transfer_timeout_reporting.py
Due: Core Library, CLI Commands, Configuration, Utilities

fix(restore): --list finds the prefix a location uses, as restore does
  CHANGELOG.md
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_list_prefix_parity.py
Due: CLI Commands

test(restore): pin the coupling --list's message depends on
  tests/test_restore_list_prefix_parity.py
Due: none

fix(restore): --list finds the prefix a location uses, as restore does (#98)
  CHANGELOG.md
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_list_prefix_parity.py
Due: CLI Commands

feat(locks): protect a restore from a prune running in another process
  README.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/lock.py
  tests/lockshell.py
  tests/test_raw_endpoint.py
  tests/test_raw_lock.py
  tests/test_raw_snapshot_interface.py
  tests/test_remote_locks.py
  tests/test_restore_lock_reporting.py
  tests/test_ssh_remote_restore.py
Due: CLI Commands, Configuration

feat(locks): keep two transfers from creating the same subvolume
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/lock.py
  tests/test_receiving_locks.py
Due: Core Library

chore: bump version to 0.9.5 + changelog and docs
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  examples/config.toml
  pyproject.toml
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_view_prefix_parity.py
Due: CLI Commands

fix(restore): read the destination under the prefix the source used
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore_destination_prefix_parity.py
Due: Core Library

fix(restore): say why there is nothing to do, and stop guessing about collisions
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
  tests/test_restore_says_what_it_did.py
Due: Core Library

feat(restore): make --overwrite replace what is at the destination
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
  tests/test_restore_overwrite.py
Due: Core Library, CLI Commands

feat: do not create "path" directories for local endpoints
  src/btrfs_backup_ng/endpoint/local.py
Due: none

fix(restore): close the defects three adversarial passes found in --overwrite
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
  tests/test_restore_overwrite.py
Due: Core Library, CLI Commands

revert(restore): withdraw --overwrite; it could not be made safe
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_overwrite_is_not_silently_ignored.py
  tests/test_restore.py
  tests/test_restore_overwrite.py
  tests/test_restore_parent_selection.py
Due: Core Library, CLI Commands

docs(restore): describe --overwrite as it behaves, and record why
  CHANGELOG.md
  README.md
  docs/RESTORE-OVERWRITE.md
Due: none

fix(restore): release both locks, and make the dry run match the run
  CHANGELOG.md
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
  tests/test_restore_destination_prefix_parity.py
  tests/test_restore_lock_lifecycle.py
  tests/test_restore_parent_selection.py
Due: Core Library

release: bump version to 0.9.6
  CHANGELOG.md
  pyproject.toml
Due: none

test(tier3): track the acceptance matrix, and stop probing ssh at import
  pyproject.toml
  tests/integration/tier3/__init__.py
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
Due: none

fix(run): honour require_mount for raw:// targets
  CHANGELOG.md
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  tests/test_scheme_migration_callsites.py
Due: CLI Commands

feat(config): require_mount accepts a mount point, and reads the mount table correctly
  CHANGELOG.md
  README.md
  examples/config.toml
  examples/snapper.toml
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  tests/test_detection.py
  tests/test_mount_table_parsing.py
  tests/test_require_mount_enforced.py
  tests/test_require_mount_path.py
  tests/test_scheme_migration_callsites.py
Due: CLI Commands, Configuration, Utilities

fix(run): count a target that failed to prepare
  CHANGELOG.md
  src/btrfs_backup_ng/cli/run.py
  tests/test_prepare_failure_accounting.py
Due: CLI Commands

perf(planner): decide presence from one listing, not one per snapshot
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_planner_listing_cost.py
  tests/test_r1_orchestration_contract.py
  tests/test_r3_lock_persistence.py
Due: Core Library

fix(logging): make log_file record the whole run
  CHANGELOG.md
  src/btrfs_backup_ng/__logger__.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  tests/test_log_file_captures_the_run.py
Due: CLI Commands

feat(config): require_mount takes a mount point, and says what it read
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/doctor.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/detection/scanner.py
  tests/test_detection.py
  tests/test_mount_table_parsing.py
  tests/test_require_mount_enforced.py
  tests/test_require_mount_path.py
Due: CLI Commands, Configuration

feat(retention): per-scope policies, and counts alongside time buckets
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/retention.py
  tests/test_retention_scopes.py
  tests/test_run_prunes.py
Due: CLI Commands, Configuration, Utilities

test: bound the ssh-localhost skip probe, and guard the class
  tests/conftest.py
  tests/test_r6_raw_encryption.py
  tests/test_raw_endpoint_integration.py
  tests/test_skip_probes_are_bounded.py
Due: none

fix(test): the raw+ssh round trip needs ssh again
  tests/test_r6_raw_encryption.py
Due: none

fix(prune): resolve retention per endpoint, not once per volume
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  tests/test_prune_gates.py
  tests/test_prune_honours_scopes.py
  tests/test_snapper_retention_plan.py
Due: CLI Commands

fix(run): never prune the source while a target is still owed snapshots
  src/btrfs_backup_ng/cli/run.py
  tests/test_notification_accuracy.py
  tests/test_run_fate_sharing.py
Due: CLI Commands

fix(tests): the localhost ssh probe reported failure on a working host
  tests/conftest.py
Due: none

feat(config): per-target `optional`, and retention scopes that inherit
  README.md
  examples/config.toml
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  tests/test_optional_targets_and_inheritance.py
Due: CLI Commands, Configuration
