Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

fix(lifecycle): stop a run's writers before its locks go, however the run ends
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/__main__.py
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/lifecycle.py
  src/btrfs_backup_ng/sshutil/lock.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/conftest.py
  tests/test_exit_cleanup.py
  tests/test_no_configured_path_is_created.py
  tests/test_receiving_locks.py
  tests/test_remote_locks.py
Due: Core Library, Utilities

fix(snapper): read info.xml dates as the UTC snapper writes them
  CHANGELOG.md
  src/btrfs_backup_ng/snapper/metadata.py
  tests/test_restore.py
  tests/test_snapper_dates_are_utc_in_info_xml.py
  tests/test_snapper_metadata.py
Due: none

fix(locks): do arithmetic only on a validated heartbeat age
  CHANGELOG.md
  src/btrfs_backup_ng/sshutil/lock.py
  tests/test_csh_login_shell.py
  tests/test_remote_locks.py
Due: none

fix(logging): keep the endpoint logger's level changes effective and the log file complete
  CHANGELOG.md
  docs/CLI-REFERENCE.md
  src/btrfs_backup_ng/__logger__.py
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/verify.py
  tests/test_config_verbosity.py
  tests/test_logger_level_changes_take_effect.py
Due: CLI Commands

fix(locks): a lock that cannot be created is not held by another process
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/sshutil/lock.py
  tests/test_remote_locks.py
Due: none

fix(locks): one winner when a dead lock is broken; a release removes only its own
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/sshutil/lock.py
  tests/test_remote_locks.py
Due: none

fix(locks): a lock whose state cannot be read is held, never absent
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/sshutil/lock.py
  tests/test_remote_locks.py
Due: none

fix(config): stop reporting two keys the loader reads as unknown
  CHANGELOG.md
  src/btrfs_backup_ng/config/loader.py
  tests/test_loader_knows_every_key_it_reads.py
Due: Configuration

fix(btrbk): write btrbk's inclusive numbers one higher
  CHANGELOG.md
  docs/MIGRATING-FROM-BTRBK.md
  src/btrfs_backup_ng/btrbk_import.py
  tests/integration/tier2/test_btrbk_retention_ground_truth_real.py
  tests/test_btrbk_directive_takes_rest_of_line.py
  tests/test_btrbk_import.py
  tests/test_btrbk_import_retention_semantics.py
Due: none

fix(locks): make a pin protect a backup on every location type
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/integration/tier2/test_raw_restore_read_only_real.py
  tests/integration/tier2/test_snapper_layout_real.py
  tests/test_raw_snapshot_interface.py
  tests/test_restore_as_transfer.py
  tests/test_restore_lock_reporting.py
  tests/test_snapper_edges_hold.py
  tests/test_snapper_retention_plan.py
Due: CLI Commands

fix(endpoint): drain the stderr of every process an endpoint starts
  CHANGELOG.md
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_endpoints_drain_stderr.py
  tests/test_raw_endpoint_integration.py
  tests/test_raw_restore_integrity.py
  tests/test_raw_snapshot_time.py
  tests/test_rawssh_is_actually_remote.py
  tests/test_ssh_stream_compression.py
  tests/test_transfer_report_carries_receive_stderr.py
  tests/test_transfer_success_raw_chunked.py
Due: Core Library

fix(snapper): publish a slot with its info.xml or not at all
  CHANGELOG.md
  src/btrfs_backup_ng/core/layout.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/snapper/scanner.py
  tests/test_snapper_slot_is_complete_or_not_at_all.py
  tests/test_snapper_slot_is_created_below_the_target.py
Due: Core Library

fix(restore): report the snapper backups a location holds in --status
  CHANGELOG.md
  README.md
  man/man1/btrfs-backup-ng-restore.1
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_status_reports_snapper_backups.py
Due: CLI Commands

fix(btrbk): import retention with btrbk's own meaning and add min = "all"
  CHANGELOG.md
  README.md
  docs/MIGRATING-FROM-BTRBK.md
  examples/config.toml
  man/man1/btrfs-backup-ng-prune.1
  man/man1/btrfs-backup-ng.1
  src/btrfs_backup_ng/btrbk_import.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/retention.py
  tests/btrbk_ground_truth.py
  tests/integration/tier2/test_btrbk_retention_ground_truth_real.py
  tests/test_btrbk_import.py
  tests/test_btrbk_import_retention_semantics.py
  tests/test_retention_min_all.py
Due: CLI Commands, Configuration, Utilities

fix(logging): make BTRFS_BACKUP_LOG_LEVEL the lowest-precedence level source
  CHANGELOG.md
  docs/CLI-REFERENCE.md
  src/btrfs_backup_ng/__logger__.py
  src/btrfs_backup_ng/cli/common.py
  tests/test_config_verbosity.py
Due: CLI Commands

test(ssh): start the supervision test's shell the way sshd starts a session
  tests/test_ssh_stream_compression.py
Due: none

fix(config): keep everything the wizards did not ask about in this run
  CHANGELOG.md
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_cmd.py
  tests/test_detection.py
  tests/test_wizard_carries_over_what_it_did_not_ask.py
  tests/test_wizard_keeps_options.py
Due: CLI Commands

docs: say why the command lock is left behind after a run
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng.1
  src/btrfs_backup_ng/endpoint/common.py
Due: none

fix: an interrupted receive removes the partial it created
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/lifecycle.py
  tests/test_interrupted_receive_cleanup.py
Due: Core Library

ci: run the remote-command tests under real csh and tcsh login shells
  .github/workflows/ci.yml
  tests/test_csh_login_shell.py
Due: none

docs(locks): what holds while older clients share a target
  docs/REMOTE-LOCKS.md
Due: none

test: capture the shared logger with a handler of the tests' own
  tests/conftest.py
  tests/integration/test_endpoints.py
  tests/test_deletion_verdict.py
  tests/test_error_delivery.py
  tests/test_log_file_captures_the_run.py
  tests/test_logger_level_changes_take_effect.py
  tests/test_raw_phantom_streams.py
  tests/test_rawssh_sudo_denial.py
  tests/test_remembered_snapshot_names.py
  tests/test_snapper_edges_hold.py
  tests/test_ssh_restore_compress.py
  tests/test_ssh_stream_compression.py
Due: none

ci: install the locked dependency versions, and track uv.lock
  .github/workflows/ci.yml
  .github/workflows/integration-tier2.yml
  .gitignore
  uv.lock
Due: none

ci: install btrbk in the tier2 job so its ground-truth tests run
  .github/workflows/integration-tier2.yml
Due: none

chore(release): 0.9.11
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

fix: after an interrupt, no worker starts anything new or retries
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/__main__.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/core/execution.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/retry.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/lifecycle.py
  tests/conftest.py
  tests/test_interrupt_stops_new_work.py
  tests/test_retry.py
Due: Core Library, CLI Commands

docs: local raw:// locks persist in a directory beside the streams
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/endpoint/raw.py
Due: none

chore(release): date 0.9.11 for its publication, 2026-09-27
  CHANGELOG.md
Due: none

test: pass wherever the temporary directory is
  tests/test_config_validate_readiness.py
  tests/test_ssh_agent_discovery.py
Due: none

fix(config): validate and doctor refuse a source btrfs cannot snapshot
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/core/doctor.py
  tests/integration/tier2/test_source_check_real.py
  tests/test_backup_source_check.py
  tests/test_config_validate_readiness.py
  tests/test_doctor.py
Due: Core Library, CLI Commands, Utilities

docs: say what config validate checks of a source, and what its exits mean
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-config.1
  man/man1/btrfs-backup-ng-doctor.1
Due: none

chore(release): 0.9.12
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
