Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

perf(ssh): size the transfer buffer from measurement
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

feat(ssh): stream compression over ssh targets
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_paramiko_transfer_compresses.py
  tests/test_ssh_stream_compression.py
Due: Core Library

fix(ssh): supply the sudo password when restoring from a remote
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

fix(ssh): let the shell pipeline authenticate with a password
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

fix(restore): a restore that restored nothing is a failure
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
Due: Core Library

fix(restore): use the snapshot prefix the location actually has
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_restore.py
Due: Core Library

fix(restore): resolve target SSH options from the loaded configuration
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_uses_configured_target_options.py
Due: CLI Commands

refactor(raw): name receive's parameter as the base class does
  src/btrfs_backup_ng/endpoint/raw.py
Due: none

test: pin the permission hint to the endpoint that failed
  tests/test_permission_hint_targets_the_right_endpoint.py
Due: none

fix(cli): preserve global parser arguments across subcommands
  src/btrfs_backup_ng/cli/dispatcher.py
  tests/test_global_options_survive_subcommands.py
Due: CLI Commands

fix(config): distinguish an invalid file from one this machine cannot run
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_validate_readiness.py
Due: CLI Commands

fix(importer): carry every btrbk option the migration guide promises
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import_targets.py
Due: none

fix(install): warn when a root timer would run a user-writable binary
  src/btrfs_backup_ng/cli/install.py
  tests/test_install_config_visibility.py
Due: CLI Commands

fix(doctor): check the remote for the decompressor it must run
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/sshutil/diagnose.py
  tests/test_doctor_reports_only_what_it_checked.py
Due: Core Library

fix(util): escalate only on permission failures, and never onto a symlink
  src/btrfs_backup_ng/__util__.py
  tests/test_privileged_fs.py
Due: Utilities

docs: compression, sshpass, and the sudo scope
  README.md
  docs/MIGRATING-FROM-BTRBK.md
  docs/SNAPPER-INTEGRATION.md
  examples/config.toml
  examples/remote-backup.toml
  examples/server.toml
  examples/snapper.toml
  tests/test_examples_do_not_recommend_broken_configs.py
  tests/test_examples_use_runnable_compression.py
Due: none

fix(ssh): keep the compressed stream's stdin when backgrounding
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_stream_compression.py
Due: none

fix(restore): do not override an explicit prefix, and look at the right host
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_restore.py
Due: Core Library

fix(importer): treat btrbk's "no" as off, not as a value
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import_targets.py
Due: none

fix(doctor): stop reporting two things it had not established
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/sshutil/diagnose.py
  tests/test_doctor_reports_only_what_it_checked.py
Due: Core Library

fix(util): close the symlink race in the unprivileged route
  src/btrfs_backup_ng/__util__.py
  tests/test_privileged_fs.py
Due: Utilities

fix(importer): inherit btrbk targets declared at global scope
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import.py
  tests/test_btrbk_import_targets.py
Due: none

fix(importer): stop emitting a target the operator did not ask for
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import_targets.py
Due: none

fix(restore): thread the configured ssh_port under the key endpoints read
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_uses_configured_target_options.py
Due: CLI Commands

fix(btrbk): stop discarding options the importer already understood
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_import_coverage.py
  tests/test_btrbk_import_targets.py
Due: none

fix(install): check what actually decides who can replace the unit's binary
  src/btrfs_backup_ng/cli/install.py
  tests/test_install_config_visibility.py
Due: CLI Commands

fix(raw): report a prefix mismatch instead of an empty location
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_prefix_diagnostics.py
Due: none

fix(restore): honour a configured ssh_password_auth
  src/btrfs_backup_ng/cli/restore.py
  tests/test_restore_configured_options.py
Due: CLI Commands

test(examples): detect any documented method the code cannot run
  tests/test_examples_use_runnable_compression.py
Due: none

fix(target): supports_compress no longer says ssh:// discards the setting
  src/btrfs_backup_ng/btrbk_import.py
  src/btrfs_backup_ng/core/target.py
  tests/test_target_scheme.py
Due: Core Library

feat(config): say when compress will not be applied
  src/btrfs_backup_ng/config/loader.py
  tests/test_target_scheme.py
Due: Configuration

fix(raw+ssh): apply the snapshot prefix to sidecar-backed streams
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_enumeration_integrity.py
Due: none

fix(run): one run at a time for a configuration
  src/btrfs_backup_ng/cli/run.py
  tests/test_run_overlap.py
Due: CLI Commands

docs(progress): say where these bars actually appear
  src/btrfs_backup_ng/core/progress.py
Due: Core Library

fix(estimate): say when a total is a floor rather than a measurement
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/core/estimate.py
  tests/test_estimate_reports_its_confidence.py
Due: Core Library, CLI Commands

fix(ssh): a transfer killed by our own timeout says so
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_transfer_timeout_reporting.py
Due: none

refactor(util): one exclusive-lock primitive, shared
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/endpoint/raw.py
Due: Utilities

fix(packaging): ship examples/ in the source tarball
  MANIFEST.in
  tests/test_sdist_carries_what_the_tests_read.py
Due: none

chore: bump version to 0.9.4 + changelog
  CHANGELOG.md
  pyproject.toml
Due: none

fix(ssh): exec the remote wrapper so signals reach the cleanup trap
  CHANGELOG.md
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_stream_compression.py
Due: none
