Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

fix: Honor timestamp_format across all commands (Closes #7, #8, #14, #15)
  CHANGELOG.md
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/retention.py
  src/btrfs_backup_ng/snapper/snapshot.py
  tests/test_cli_common.py
  tests/test_restore.py
  tests/test_retention.py
  tests/test_snapper_metadata.py
  tests/test_timestamp_format_enforcement.py
Due: Core Library, CLI Commands, Utilities

fix(ssh): make btrfs transfer success authoritative on process exit codes
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r1_transfer_success_contract.py
Due: none

fix(raw): fail the raw stream pipeline when any stage fails (pipefail)
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r1_raw_chunked_contract.py
Due: none

fix(chunked): confirm receive before reporting chunked transfer success
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/test_chunked_operations.py
  tests/test_r1_transfer_success_contract.py
Due: Core Library

fix(core): stop swallowing transfer failures in the sync orchestration
  src/btrfs_backup_ng/core/operations.py
  tests/test_r1_orchestration_contract.py
Due: Core Library

fix(legacy): exit non-zero when a legacy-path transfer fails
  src/btrfs_backup_ng/_legacy_main.py
  tests/test_r1_legacy_exit_code.py
Due: none

fix(core): clean up a partial local subvolume after a failed transfer
  src/btrfs_backup_ng/core/operations.py
  tests/test_r2_cleanup_recovery.py
Due: Core Library

fix(chunked): clean up partial subvolumes when a chunked transfer fails
  src/btrfs_backup_ng/core/operations.py
  tests/test_r2_cleanup_recovery.py
Due: Core Library

fix(raw): remove the partial stream file after a failed raw transfer
  src/btrfs_backup_ng/core/operations.py
  tests/test_r2_cleanup_recovery.py
Due: Core Library

refactor(core): remove dead, non-functional delete_corrupt_snapshots
  src/btrfs_backup_ng/core/__init__.py
  src/btrfs_backup_ng/core/planning.py
Due: Core Library

fix(core): keep partial-cleanup best-effort even on a malformed config
  src/btrfs_backup_ng/core/operations.py
  tests/test_r2_cleanup_recovery.py
Due: Core Library

fix(config): carry raw-target encryption through the loader, fail closed
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  tests/test_r6_raw_encryption.py
Due: Configuration

fix(cli): thread raw-target encryption to the endpoint; fail closed if dropped
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/endpoint/__init__.py
  tests/test_r6_raw_encryption.py
Due: CLI Commands

test(raw): validate real gpg/openssl encryption end to end; accept encrypt=none
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r6_raw_encryption.py
Due: none

test(btrbk): round-trip migrated encryption through the loader, not the string
  src/btrfs_backup_ng/cli/common.py
  tests/test_btrbk_import_raw.py
Due: CLI Commands

chore: Bump version to 0.8.4 with raw-encryption security advisory
  CHANGELOG.md
  pyproject.toml
Due: none

test(raw): prove raw+ssh encryption end to end (was unproven)
  tests/test_r6_raw_encryption.py
Due: none

fix(config): validate compression against the target transport's real support
  src/btrfs_backup_ng/config/loader.py
  tests/test_btrbk_import_raw.py
Due: Configuration

test(cli): round-trip encryption through run and transfer to a real endpoint
  tests/test_r6_cli_roundtrip.py
Due: none

test(raw): make the real-crypto security gate deterministic
  tests/test_r6_raw_encryption.py
Due: none

test(core): pin the local transfer return-code contract
  tests/test_r1_local_transfer_returncode.py
Due: none

test(cli): round-trip encryption through snapper backup to a real endpoint
  tests/test_r6_cli_roundtrip.py
Due: none

Path conditions:
  Core Library: any of: src/btrfs_backup_ng/core/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  CLI Commands: any of: src/btrfs_backup_ng/cli/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Configuration: any of: src/btrfs_backup_ng/config/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Utilities: any of: src/btrfs_backup_ng/__util__.py, src/btrfs_backup_ng/transaction.py, src/btrfs_backup_ng/retention.py, src/btrfs_backup_ng/notifications.py, but not: tests/**, **/__pycache__/**, **/conftest.py
