Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

fix: Remove unused imports and fix linting errors
  tests/test_config_cmd.py
  tests/test_detection.py
  tests/test_snapper_scanner.py
  tests/test_systemd_utils.py
  tests/test_wizard_utils.py
Due: none

fix: Escape TOML brackets in config preview display
  src/btrfs_backup_ng/cli/wizard_utils.py
Due: CLI Commands

feat: Add raw target support for non-btrfs backup destinations
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  docs/MIGRATING-FROM-BTRBK.md
  man/man1/btrfs-backup-ng-config.1
  man/man1/btrfs-backup-ng.1
  pyproject.toml
  src/btrfs_backup_ng/btrbk_import.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/endpoint/__init__.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_btrbk_import_raw.py
  tests/test_raw_endpoint.py
  tests/test_raw_endpoint_integration.py
  tests/test_raw_metadata.py
Due: Core Library, Configuration

chore: Update shell completions with raw target compression methods
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
Due: none

fix: Use sudo user's home directory for config file paths
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/config/__init__.py
  src/btrfs_backup_ng/config/loader.py
  tests/test_config_loader.py
Due: CLI Commands, Configuration

fix: Change default snapper min_age from 0 to 1h
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/core/operations.py
Due: Core Library, CLI Commands, Configuration

chore: Bump version to 0.8.2
  CHANGELOG.md
  pyproject.toml
Due: none

Fixed error: missing snapshot_name in raw+ssh transfer
  src/btrfs_backup_ng/core/operations.py
Due: Core Library

fix: Apply configured timestamp_format to snapshot naming and listing
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/test_endpoints.py
  tests/test_cli_common.py
  tests/test_util.py
Due: CLI Commands, Utilities

fix: Apply configured timestamp_format to snapshot naming and listing (#4)
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/test_endpoints.py
  tests/test_cli_common.py
  tests/test_util.py
Due: CLI Commands, Utilities

fix: Complete raw+ssh receive fix with uniform signature and all paths
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/common.pyi
  tests/integration/test_endpoints.py
  tests/test_transfer.py
Due: Core Library

refactor: Accept a destination Endpoint in snapper transfer functions
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/operations.py
Due: Core Library, CLI Commands

fix: Route snapper backup through the endpoint layer for ssh/raw targets
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/operations.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands

fix: Correct snapper cleanup, raw+ssh metadata, and run remote detection
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_endpoint.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands

fix: Write the raw stream to the target file, not the current directory
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_endpoint.py
Due: none

fix: Thread SSH options into snapper backup endpoints
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  tests/test_snapper_cmd.py
Due: CLI Commands

fix: Preserve SSH config keys through Endpoint.__init__
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_endpoint.py
Due: none

fix: Verify SSH transfers by exact received subvolume path
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_endpoint.py
Due: none

fix: Suppress tee stdout echo when writing snapper info.xml and metadata
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/raw.py
Due: Core Library

fix: Remove dead receive-log diagnostics that logged a spurious warning
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: Core Library

fix: Create SSH controlmasters parent dirs when ~/.ssh is absent
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_ssh_endpoint.py
Due: none

docs: Document snapper backup to ssh/raw targets; add 0.8.3 changelog
  CHANGELOG.md
  README.md
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  docs/MIGRATING-FROM-BTRBK.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/dispatcher.py
Due: CLI Commands

fix: Honor an explicit empty snapshot_prefix (Closes #6)
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/wizard_utils.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  tests/test_config_cmd.py
  tests/test_config_loader.py
  tests/test_config_schema.py
  tests/test_detection.py
  tests/test_wizard_utils.py
Due: CLI Commands, Configuration

chore: Bump version to 0.8.3
  pyproject.toml
  src/btrfs_backup_ng/__init__.py
Due: none
