Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

fix: Resolve all mypy type errors and configure basedpyright
  .github/workflows/ci.yml
  pyproject.toml
  src/btrfs_backup_ng/__logger__.py
  src/btrfs_backup_ng/__main__.py
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/_legacy_main.py
  src/btrfs_backup_ng/cli/completions.py
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/core/estimate.py
  src/btrfs_backup_ng/core/execution.py
  src/btrfs_backup_ng/core/progress.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/__init__.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/local.py
  src/btrfs_backup_ng/endpoint/shell.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/notifications.py
  src/btrfs_backup_ng/retention.py
  src/btrfs_backup_ng/transaction.py
  tests/test_estimate.py
  tests/test_restore.py
Due: Core Library, CLI Commands, Utilities

docs: Add mypy, Ruff, and Black badges to README
  README.md
Due: none

ci: Add tier 2 btrfs integration tests workflow
  .github/workflows/integration-tier2.yml
  CONTRIBUTING.md
Due: none

test: Add comprehensive tests for transaction.py
  tests/test_transaction.py
Due: none

fix(ci): Fix tier 2 coverage threshold and add debug output
  .github/workflows/integration-tier2.yml
Due: none

fix: Remove unused imports in test_transaction.py
  tests/test_transaction.py
Due: none

test: Add comprehensive tests for notifications and verify modules
  .github/workflows/integration-tier2.yml
  tests/test_notifications.py
  tests/test_verify.py
Due: none

test: Add comprehensive tests for core/estimate.py (50% -> 95%)
  tests/test_estimate.py
  tests/test_notifications.py
  tests/test_verify.py
Due: none

test: Add comprehensive tests for cli/verify.py and cli/restore.py
  tests/test_cli_verify.py
  tests/test_restore.py
Due: none

refactor: Move man pages to man/man1/ for proper section layout
  man/README.md
  man/man1/btrfs-backup-ng-config.1
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-install.1
  man/man1/btrfs-backup-ng-list.1
  man/man1/btrfs-backup-ng-prune.1
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-run.1
  man/man1/btrfs-backup-ng-snapshot.1
  man/man1/btrfs-backup-ng-status.1
  man/man1/btrfs-backup-ng-transfer.1
  man/man1/btrfs-backup-ng-verify.1
  man/man1/btrfs-backup-ng.1
  src/btrfs_backup_ng/cli/manpages.py
Due: CLI Commands

fix: Include tests in sdist and handle nonexistent paths in is_subvolume
  MANIFEST.in
  src/btrfs_backup_ng/__util__.py
Due: Utilities

fix: Remove empty ssh.pyi and shebang from diagnose.py
  src/btrfs_backup_ng/endpoint/ssh.pyi
  src/btrfs_backup_ng/sshutil/diagnose.py
Due: none

fix: Resolve mypy type errors in ssh.py
  pyproject.toml
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

fix: Resolve ruff linting errors in ssh.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

docs: Add missing manpage references to SEE ALSO section
  man/man1/btrfs-backup-ng.1
Due: none

test: Improve test coverage for CLI modules
  tests/test_completions.py
  tests/test_estimate.py
  tests/test_manpages.py
  tests/test_restore.py
Due: none

feat: Add btrfs subvolume auto-detection (Phases 1-3)
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/detection/__init__.py
  src/btrfs_backup_ng/detection/classifier.py
  src/btrfs_backup_ng/detection/models.py
  src/btrfs_backup_ng/detection/scanner.py
  tests/test_detection.py
Due: CLI Commands

fix: Resolve ruff linting errors
  tests/test_completions.py
  tests/test_manpages.py
  tests/test_restore.py
Due: none

feat: Add detection-based wizard with config diff display
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_detection.py
Due: CLI Commands

feat: Add space-aware operations and filesystem validation for v0.8.1
  .gitignore
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  examples/config.toml
  man/man1/btrfs-backup-ng-config.1
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-verify.1
  man/man1/btrfs-backup-ng.1
  pyproject.toml
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/_legacy_main.py
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/space.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/local.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/test_endpoints.py
  tests/integration/tier2/test_endpoints_real.py
  tests/integration/tier2/test_space_checking.py
  tests/test_cli_verify.py
  tests/test_restore.py
  tests/test_space.py
  uv.lock
Due: Core Library, CLI Commands, Utilities

docs: Update shell completions for v0.8.1 features
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
Due: none

feat: Add doctor command for system diagnostics and auto-fix
  CHANGELOG.md
  README.md
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-doctor.1
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/doctor.py
  src/btrfs_backup_ng/core/doctor.py
  tests/test_doctor.py
Due: Core Library, CLI Commands, Utilities

fix: Use getpass.getuser() instead of os.getlogin() for CI compatibility
  src/btrfs_backup_ng/core/doctor.py
Due: Core Library

test: Improve doctor test coverage to 75%
  tests/test_doctor.py
Due: none

test: Improve doctor command coverage to 83%
  tests/test_doctor.py
Due: none

test: Increase doctor command coverage to 93%
  tests/test_doctor.py
Due: none

chore: Bump version to 0.8.1
  src/btrfs_backup_ng/__init__.py
Due: none

fix: Multiple usability fixes for config, sudo, and SSH transfers
  pyproject.toml
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/detection/models.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_config_loader.py
  tests/test_config_schema.py
  tests/test_detection.py
  tests/test_ssh_endpoint.py
Due: CLI Commands, Configuration

fix: Thread show_progress parameter through SSH transfer pipeline
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
Due: Core Library

feat: Add error classification, retry framework, and chunked transfer system
  src/btrfs_backup_ng/core/__init__.py
  src/btrfs_backup_ng/core/chunked_transfer.py
  src/btrfs_backup_ng/core/errors.py
  src/btrfs_backup_ng/core/retry.py
  tests/test_chunked_transfer.py
  tests/test_errors.py
  tests/test_retry.py
Due: Core Library

feat: Integrate retry framework into SSH transfer
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

feat: Add pre-transfer parent validation
  src/btrfs_backup_ng/core/verify.py
  tests/test_verify.py
Due: Core Library

feat: Add operation state persistence for resume capability
  src/btrfs_backup_ng/core/__init__.py
  src/btrfs_backup_ng/core/state.py
  tests/test_state.py
Due: Core Library

feat: Wire chunked transfers into operations and SSH endpoint
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/test_chunked_operations.py
Due: Core Library

feat: Add CLI transfers command for managing chunked transfers
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/transfers_cmd.py
  tests/test_transfers_cmd.py
Due: CLI Commands

docs: Add snapper integration guide and update CLI reference
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  src/btrfs_backup_ng/cli/dispatcher.py
Due: CLI Commands

test: Improve test coverage from 80% to 86%
  tests/conftest.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
  tests/test_transfers_cmd.py
Due: none

feat: Enhanced config wizard and improved test coverage to 90%
  README.md
  docs/MIGRATING-FROM-BTRBK.md
  man/man1/btrfs-backup-ng-config.1
  pyproject.toml
  src/btrfs_backup_ng/__main__.py
  src/btrfs_backup_ng/btrbk_import.py
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/wizard_utils.py
  src/btrfs_backup_ng/detection/__init__.py
  src/btrfs_backup_ng/detection/classifier.py
  src/btrfs_backup_ng/detection/scanner.py
  src/btrfs_backup_ng/systemd_utils.py
  tests/test_btrbk_import.py
  tests/test_cli_common.py
  tests/test_config_cmd.py
  tests/test_config_loader.py
  tests/test_config_schema.py
  tests/test_detection.py
  tests/test_doctor.py
  tests/test_errors.py
  tests/test_logger.py
  tests/test_retention.py
  tests/test_retry.py
  tests/test_snapper_cmd.py
  tests/test_snapper_scanner.py
  tests/test_state.py
  tests/test_systemd_utils.py
  tests/test_transaction.py
  tests/test_util.py
  tests/test_wizard_utils.py
Due: CLI Commands

fix: Remove unused imports and fix type error
  src/btrfs_backup_ng/cli/wizard_utils.py
  src/btrfs_backup_ng/detection/classifier.py
Due: CLI Commands
