Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

fix(raw): count each stream once, under one name, in enumeration
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_enumeration_integrity.py
Due: none

fix: deliver every failure as a clean, actionable message (never a traceback)
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_error_delivery.py
Due: Core Library, CLI Commands, Utilities

fix: make --no-check-space/--force/--safety-margin actually take effect
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  tests/test_space_flags.py
Due: CLI Commands

fix: restore native btrfs backups again (local); fail loud on remote ssh
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_native_restore_lock.py
Due: CLI Commands

feat: restore native btrfs backups from a remote ssh source, and stop transfers hanging
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_native_restore_lock.py
  tests/test_ssh_remote_restore.py
  tests/test_transfer_supervision.py
Due: Core Library, CLI Commands

chore: Release 0.8.5 — raw backups first-class + reliability hardening
  CHANGELOG.md
  pyproject.toml
Due: none

docs: make the README an honest reflection of what 0.8.5 delivers
  README.md
Due: none

fix: Persist retention locks across runs (R3)
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_r3_lock_persistence.py
Due: Core Library

fix: Persist retention locks across runs (R3) (#45)
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_r3_lock_persistence.py
Due: Core Library

fix: Discover the user's ssh-agent under sudo for passphrase-protected keys
  CHANGELOG.md
  docs/CLI-REFERENCE.md
  examples/config.toml
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_ssh_agent_discovery.py
Due: CLI Commands, Configuration

fix: Keep SSH password auth robust alongside agent auto-discovery
  CHANGELOG.md
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_ssh_agent_discovery.py
Due: none

fix: Discover ssh-agent under sudo + keep password auth robust (#46)
  CHANGELOG.md
  docs/CLI-REFERENCE.md
  examples/config.toml
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/master.py
  tests/test_ssh_agent_discovery.py
Due: CLI Commands, Configuration

refactor: Carry btrfs uuid/received_uuid on snapshots (R4 Phase 0)
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r4_phase0_uuid_identity.py
Due: Utilities

refactor: Carry btrfs uuid/received_uuid on snapshots (R4 Phase 0) (#47)
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r4_phase0_uuid_identity.py
Due: Utilities

refactor: Add endpoint.correspondent_of correspondence primitive (R4 Phase 1)
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r4_phase1_correspondence.py
Due: none

refactor: Add endpoint.correspondent_of correspondence primitive (R4 Phase 1) (#48)
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r4_phase1_correspondence.py
Due: none

refactor(core): unify transfer planning on UUID correspondence (R4 Phase 2)
  src/btrfs_backup_ng/core/__init__.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_error_delivery.py
  tests/test_r1_orchestration_contract.py
  tests/test_r2_cleanup_recovery.py
  tests/test_r3_lock_persistence.py
  tests/test_r4_phase0_uuid_identity.py
  tests/test_r4_phase1_correspondence.py
  tests/test_r4_phase2_planner.py
Due: Core Library

refactor(core): unify transfer planning on UUID correspondence (R4 Phase 2) (#49)
  src/btrfs_backup_ng/core/__init__.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_error_delivery.py
  tests/test_r1_orchestration_contract.py
  tests/test_r2_cleanup_recovery.py
  tests/test_r3_lock_persistence.py
  tests/test_r4_phase0_uuid_identity.py
  tests/test_r4_phase1_correspondence.py
  tests/test_r4_phase2_planner.py
Due: Core Library

refactor(restore): select restore parent via correspondent_of (R4 Phase 3a)
  src/btrfs_backup_ng/core/restore.py
  tests/test_native_restore_lock.py
  tests/test_r4_phase1_correspondence.py
  tests/test_r4_phase3a_restore.py
Due: Core Library

refactor(restore): select restore parent via correspondent_of (R4 Phase 3a) (#50)
  src/btrfs_backup_ng/core/restore.py
  tests/test_native_restore_lock.py
  tests/test_r4_phase1_correspondence.py
  tests/test_r4_phase3a_restore.py
Due: Core Library

feat(core): within-run incremental chaining in the transfer planner (R4 Phase 3b-1)
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  tests/test_r1_orchestration_contract.py
  tests/test_r4_phase2_planner.py
Due: Core Library

feat(core): within-run incremental chaining in the transfer planner (R4 Phase 3b-1) (#51)
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  tests/test_r1_orchestration_contract.py
  tests/test_r4_phase2_planner.py
Due: Core Library

fix(raw): record the incremental parent_name in the raw .meta sidecar
  src/btrfs_backup_ng/core/operations.py
  tests/test_r2_cleanup_recovery.py
  tests/test_transfer.py
Due: Core Library

fix(raw): record the incremental parent_name in the raw .meta sidecar (#52)
  src/btrfs_backup_ng/core/operations.py
  tests/test_r2_cleanup_recovery.py
  tests/test_transfer.py
Due: Core Library

fix: Converge snapper backup identity onto correspondence (R4 P3b-2)
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.pyi
  tests/test_r1_orchestration_contract.py
  tests/test_r4_phase3b2_snapper.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands

fix: Converge snapper backup identity onto correspondence (R4 P3b-2) (#53)
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.pyi
  tests/test_r1_orchestration_contract.py
  tests/test_r4_phase3b2_snapper.py
  tests/test_snapper_cmd.py
Due: Core Library, CLI Commands

build: pin ruff to the 0.15 line to keep CI lint green
  pyproject.toml
Due: none

build: pin ruff to the 0.15 line to keep CI lint green (#55)
  pyproject.toml
Due: none

fix(planning): break same-second ties by source order so equal-timestamp snapshots chain
  src/btrfs_backup_ng/core/planning.py
  tests/test_r4_phase2_planner.py
Due: Core Library

fix(planning): break same-second ties by source order so equal-timestamp snapshots chain (#54)
  src/btrfs_backup_ng/core/planning.py
  tests/test_r4_phase2_planner.py
Due: Core Library

fix(retention): protect the "keep latest" slot + fail closed on invalid min (R10a)
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/retention.py
  tests/test_config_loader.py
  tests/test_retention.py
Due: Configuration, Utilities

fix(retention): protect the "keep latest" slot + fail closed on invalid min (R10a) (#56)
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/retention.py
  tests/test_config_loader.py
  tests/test_retention.py
Due: Configuration, Utilities

fix(retention): protect raw incremental-parent streams from pruning (R10b)
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/retention.py
  tests/test_r10b_raw_parent_protection.py
  tests/test_raw_endpoint.py
Due: CLI Commands, Utilities

fix(retention): protect raw incremental-parent streams from pruning (R10b) (#57)
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/retention.py
  tests/test_r10b_raw_parent_protection.py
  tests/test_raw_endpoint.py
Due: CLI Commands, Utilities

Path conditions:
  Core Library: any of: src/btrfs_backup_ng/core/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  CLI Commands: any of: src/btrfs_backup_ng/cli/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Configuration: any of: src/btrfs_backup_ng/config/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Utilities: any of: src/btrfs_backup_ng/__util__.py, src/btrfs_backup_ng/transaction.py, src/btrfs_backup_ng/retention.py, src/btrfs_backup_ng/notifications.py, but not: tests/**, **/__pycache__/**, **/conftest.py
