Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

codecov.yml:

# Codecov configuration for btrfs-backup-ng
# https://docs.codecov.com/docs/codecovyml-reference

coverage:
  # Coverage thresholds
  status:
    project:
      default:
        # Require coverage to not drop below current level
        target: auto
        # Allow small decreases (0.5%) to avoid blocking minor changes
        threshold: 0.5%
        # Only check against base commit on PRs
        if_ci_failed: error

    patch:
      default:
        # New code in PRs should have reasonable coverage
        target: 60%
        # Only fail if significantly below target
        threshold: 10%

  # Precision for coverage percentage display
  precision: 2
  round: down

# PR comment settings
comment:
  # Post detailed coverage report as PR comment
  layout: "condensed_header, diff, flags, components"
  # Update existing comment instead of posting new ones
  behavior: default
  # Always post comment (even if coverage unchanged)
  require_changes: false

# Component-based coverage tracking
component_management:
  individual_components:
    - component_id: core
      name: Core Library
      paths:
        - src/btrfs_backup_ng/core/**

    - component_id: cli
      name: CLI Commands
      paths:
        - src/btrfs_backup_ng/cli/**

    - component_id: config
      name: Configuration
      paths:
        - src/btrfs_backup_ng/config/**

    - component_id: utilities
      name: Utilities
      paths:
        - src/btrfs_backup_ng/__util__.py
        - src/btrfs_backup_ng/transaction.py
        - src/btrfs_backup_ng/retention.py
        - src/btrfs_backup_ng/notifications.py

# Flag management for test segmentation
flag_management:
  individual_flags:
    - name: unittests
      paths:
        - src/btrfs_backup_ng/
      carryforward: true

# Ignore certain paths from coverage
ignore:
  - "tests/**"
  - "**/__pycache__/**"
  - "**/conftest.py"

# GitHub integration settings
github_checks:
  annotations: true

fix(cli): use ASCII status words instead of Unicode glyphs in output
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/cli/wizard_utils.py
  tests/test_cli_ascii_output.py
Due: CLI Commands

ci(tier2): fail when the hardware suite executes zero tests
  .github/workflows/integration-tier2.yml
Due: none

fix(ssh): elevate only btrfs, and confirm subvolumes with btrfs itself
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_sudo_elevation.py
Due: none

fix(snapper): pass the privileged script raw; the producer owns escaping
  src/btrfs_backup_ng/core/operations.py
  tests/test_r4_phase3b2_snapper.py
  tests/test_remote_command_escaping_contract.py
Due: Core Library

feat(snapper): run destination operations unprivileged, elevating only btrfs
  README.md
  src/btrfs_backup_ng/core/operations.py
  tests/test_r4_phase3b2_snapper.py
  tests/test_snapper_least_privilege.py
Due: Core Library

fix(raw): make the .part file private to one transfer and open it safely
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_atomic_write.py
  tests/test_raw_endpoint.py
  tests/test_raw_part_file_safety.py
Due: none

feat(core): add one authority for what a target path is and supports
  src/btrfs_backup_ng/core/target.py
  tests/test_target_scheme.py
Due: Core Library

fix(doctor,transfer): dispatch on the target scheme, not an "ssh://" prefix
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/core/target.py
  tests/test_config_loader.py
  tests/test_doctor.py
  tests/test_scheme_migration_callsites.py
  tests/test_target_scheme.py
Due: Core Library, CLI Commands, Configuration

fix(raw): never let a refused sudo look like an empty raw+ssh target
  README.md
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_atomic_write.py
  tests/test_raw_endpoint.py
  tests/test_raw_ssh_restore.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(restore): give a raw+ssh source its SSH options, and flag the sudo footgun
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/config/loader.py
  tests/test_config_loader.py
  tests/test_scheme_migration_callsites.py
Due: CLI Commands, Configuration

docs(readme): present both raw+ssh sudo setups as supported
  README.md
Due: none

fix(raw): prove elevation succeeded instead of enumerating how it fails
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_ssh_restore.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(raw): keep the inner exit status, and close the sentinel-less sites
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(raw): trust the elevation proof instead of re-guessing from sudo's text
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(raw): a refusal must not be able to forge the elevation proof
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(raw): the elevation marker must start its own line, not merely end one
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(packaging): ship man pages and completions in the wheel
  pyproject.toml
  src/btrfs_backup_ng/cli/completions.py
  src/btrfs_backup_ng/cli/manpages.py
  tests/test_packaging_data_files.py
Due: CLI Commands

fix(raw): a failed listing is not an empty target, on either path
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_ssh_list_errors.py
  tests/test_rawssh_sudo_denial.py
Due: none

fix(ssh): a failed listing is not an empty location
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_listing_failures.py
Due: none

fix(snapper): place info.xml without needlessly elevating
  src/btrfs_backup_ng/core/operations.py
  tests/test_snapper_info_xml_placement.py
Due: Core Library

fix(snapper): enumerate backups on an ssh:// target, and fail loudly everywhere
  src/btrfs_backup_ng/core/restore.py
  tests/test_restore.py
  tests/test_snapper_info_xml_placement.py
  tests/test_snapper_remote_enumeration.py
Due: Core Library

docs: document the permission model, per scheme and per privilege level
  README.md
  docs/CLI-REFERENCE.md
Due: none

fix(restore): restore snapper backups from ssh:// btrfs targets
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/restore.py
  tests/test_snapper_cmd.py
  tests/test_snapper_remote_restore.py
Due: Core Library, CLI Commands

fix(privileges): attempt filesystem writes before elevating them
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  tests/test_privileged_fs.py
  tests/test_snapper_info_xml_placement.py
Due: Core Library, Utilities

fix(restore): stop reporting an unchecked lock state as a clean one
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_r7_atomic_persistence.py
  tests/test_restore.py
  tests/test_restore_lock_reporting.py
Due: CLI Commands

fix(ssh): use longer timeout on full transfers
  src/btrfs_backup_ng/endpoint/ssh.py
Due: none

fix(ssh): report only the snapshots that are AT the destination
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_listing_failures.py
  tests/test_ssh_listing_scope.py
Due: none

fix(restore): distinguish an empty location from a prefix that matched nothing
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/common.pyi
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_empty_listing_diagnosis.py
  tests/test_restore.py
Due: Core Library, CLI Commands, Utilities

feat(snapper): plan retention for snapper destinations (report only)
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/retention.py
  tests/test_snapper_retention_plan.py
Due: CLI Commands, Utilities

feat(snapper): apply retention to snapper destinations
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  tests/test_snapper_retention_plan.py
Due: CLI Commands

test(snapper): pin that the run path actually invokes retention
  tests/test_snapper_retention_plan.py
Due: none

fix(compress): stop compressing where nothing decompresses
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/core/operations.py
  tests/test_raw_compress_integrity.py
Due: Core Library, CLI Commands

docs: say what contributors can expect
  CONTRIBUTING.md
Due: none

fix(doctor): stop reporting OK for checks that never ran
  src/btrfs_backup_ng/core/doctor.py
  tests/test_doctor_reports_only_what_it_checked.py
Due: Core Library

fix(config): validate whether a config could actually back anything up
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_validate_readiness.py
Due: CLI Commands

fix(install): warn when the timer will not find your config
  src/btrfs_backup_ng/cli/install.py
  tests/test_install_config_visibility.py
Due: CLI Commands

docs: stop recommending the configuration that hangs
  README.md
  docs/SNAPPER-INTEGRATION.md
  examples/config.toml
  examples/remote-backup.toml
  examples/server.toml
  examples/snapper.toml
  tests/test_examples_do_not_recommend_broken_configs.py
Due: none

refactor(typing): annotate the source and drop the .pyi stubs
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/__util__.pyi
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/core/chunked_transfer.py
  src/btrfs_backup_ng/core/doctor.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/core/state.py
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/__init__.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/common.pyi
  src/btrfs_backup_ng/endpoint/local.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  src/btrfs_backup_ng/snapper/metadata.py
Due: Core Library, CLI Commands, Utilities

fix(util): compare a Snapshot against anything without raising
  src/btrfs_backup_ng/__util__.py
  tests/test_snapshot_equality_contract.py
Due: Utilities

refactor(compression): unify stream compression algorithms into a single registry
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/core/compression.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_endpoint.py
  tests/test_raw_endpoint_integration.py
  tests/test_raw_metadata.py
Due: Core Library, CLI Commands
