Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

fix(run): send what a destination is missing, not only the newest snapshot
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/run.py
  tests/test_run_catches_up.py
Due: CLI Commands

chore: use neutral fixtures instead of real host and user details
  README.md
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_control_socket_path.py
  tests/test_empty_listing_diagnosis.py
  tests/test_mount_table_parsing.py
  tests/test_rawssh_sudo_denial.py
  tests/test_require_mount_enforced.py
  tests/test_snapper_remote_enumeration.py
  tests/test_snapper_remote_restore.py
  tests/test_ssh_listing_scope.py
  tests/test_ssh_sudo_elevation.py
Due: none

docs(changelog): consolidate 0.9.7
  CHANGELOG.md
Due: none

fix(util): keep a snapshot's UTC offset through its own name
  src/btrfs_backup_ng/__util__.py
  tests/test_timestamp_offset_roundtrip.py
Due: Utilities

fix(ssh): validate a host before it reaches a shell or ssh's option parser
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_ssh_host_validation.py
Due: Utilities

fix(retention): do not hand the retention math a timestamp it cannot compare
  src/btrfs_backup_ng/retention.py
  tests/test_retention_timezone.py
Due: Utilities

fix(cli): honour -c when resolving the snapshot timestamp format
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/verify.py
  tests/test_restore_honours_config_flag.py
Due: CLI Commands

fix(doctor): count the config warnings the CLI already collected
  src/btrfs_backup_ng/cli/doctor.py
  src/btrfs_backup_ng/core/doctor.py
  tests/test_doctor_counts_loader_warnings.py
Due: Core Library, CLI Commands

fix(retention): report an out-of-range duration as a bad value, at the producer
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/retention.py
  tests/test_duration_out_of_range.py
Due: Configuration, Utilities

fix(config): stop emitting, and stop writing, a config that cannot be loaded back
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/btrbk_import.py
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_config_import_refuses_unloadable.py
Due: CLI Commands, Utilities

fix(btrbk): read a directive's value as the rest of the line, as btrbk does
  src/btrfs_backup_ng/btrbk_import.py
  tests/test_btrbk_directive_takes_rest_of_line.py
Due: none

test(btrbk): drop the space-path exclusion the parser fix made stale
  tests/test_config_import_refuses_unloadable.py
Due: none

fix(config): refuse to replace an existing file passed to -o
  README.md
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/cli/dispatcher.py
  tests/test_output_overwrite_guard.py
Due: CLI Commands

fix(endpoint): do not create a configured path, and do not rebuild it later
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/local.py
  tests/integration/test_endpoints.py
  tests/test_configured_paths_are_not_created.py
Due: CLI Commands

fix(raw): do not create a configured raw target, and do not report a clean scan of one that is missing
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_configured_paths_are_not_created.py
  tests/test_raw_backfill.py
  tests/test_raw_cmd.py
  tests/test_raw_endpoint.py
Due: CLI Commands

fix(cli): require an absolute snapshot_dir to exist before snapshotting into it
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  tests/test_absolute_snapshot_dir.py
  tests/test_prepare_failure_accounting.py
  tests/test_r6_cli_roundtrip.py
  tests/test_require_mount_enforced.py
Due: CLI Commands

refactor(local): delete the snapshot_dir block that never ran
  src/btrfs_backup_ng/endpoint/local.py
  tests/test_configured_paths_are_not_created.py
Due: none

docs(changelog): record the defects fixed after the 0.9.7 consolidation
  CHANGELOG.md
Due: none

fix(test): assert the empty-prefix name, not the clock in one timezone
  tests/test_explicit_empty_prefix.py
Due: none

feat(completions): generate the shell completions from the argument parser
  completions/README.md
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  src/btrfs_backup_ng/cli/completion_gen.py
  tests/test_completions.py
  tests/test_completions_up_to_date.py
Due: CLI Commands

docs(man): document the flags the man pages had fallen behind
  man/man1/btrfs-backup-ng-config.1
  man/man1/btrfs-backup-ng-estimate.1
  man/man1/btrfs-backup-ng-raw.1
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-run.1
  man/man1/btrfs-backup-ng-snapper.1
  man/man1/btrfs-backup-ng-transfer.1
  man/man1/btrfs-backup-ng-verify.1
  tests/test_docs_cover_every_flag.py
Due: none

docs(readme): correct the snapshot-directory advice for an absolute path
  README.md
Due: none

fix(test): stop the gpg fixture leaking an agent per run
  tests/test_raw_endpoint_integration.py
Due: none

docs(changelog): record the documentation accuracy work
  CHANGELOG.md
Due: none

docs(changelog): separate two 0.9.7 entries that had run together
  CHANGELOG.md
Due: none

fix(snapshot): diagnose a name collision by the format's resolution
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_error_delivery.py
  tests/test_util.py
Due: Utilities

refactor(snapshot): remember the observed name, never regenerate it
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier2/test_remembered_names_real.py
  tests/test_r3_lock_persistence.py
  tests/test_r4_phase0_uuid_identity.py
  tests/test_r4_phase1_correspondence.py
  tests/test_r4_phase2_planner.py
  tests/test_r4_phase3a_restore.py
  tests/test_raw_snapshot_interface.py
  tests/test_remembered_snapshot_names.py
  tests/test_snapshot_equality_contract.py
  tests/test_timestamp_offset_roundtrip.py
  tests/test_util.py
Due: Core Library, Utilities

feat(listing): separate "not a snapshot" from "no derivable timestamp"
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/core/estimate.py
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/core/verify.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier2/test_remembered_names_real.py
  tests/test_remembered_snapshot_names.py
  tests/test_undated_snapshots.py
Due: Core Library, CLI Commands, Utilities

feat(snapshot): absorb a name collision with the _N counter instead of refusing
  src/btrfs_backup_ng/endpoint/common.py
  tests/integration/tier2/test_remembered_names_real.py
  tests/test_error_delivery.py
  tests/test_remembered_snapshot_names.py
Due: none

fix(config): validate retention bucket counts at load
  src/btrfs_backup_ng/config/loader.py
  tests/test_config_loader.py
Due: Configuration

fix(endpoint): a listing never creates the path it enumerates
  src/btrfs_backup_ng/endpoint/common.py
  tests/integration/tier2/test_listing_never_creates_real.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_listing_never_creates.py
Due: none

fix(remote): never create a configured destination anywhere
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/lock.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_raw_compress_integrity.py
  tests/test_raw_endpoint.py
  tests/test_raw_endpoint_integration.py
  tests/test_rawssh_sudo_denial.py
  tests/test_remote_destination_not_created.py
  tests/test_remote_locks.py
  tests/test_ssh_stream_compression.py
Due: Core Library

fix(cli): every command resolves snapshot_dir through the shared helper
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  tests/test_absolute_snapshot_dir.py
Due: CLI Commands

fix(cli): prune and snapshot log config warnings into the log file
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/snapshot.py
  tests/test_log_file_captures_the_run.py
Due: CLI Commands

fix(config): fail loud at load, and stop blessing a config that backs up nothing
  src/btrfs_backup_ng/cli/config_cmd.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/core/doctor.py
  tests/test_config_loader.py
  tests/test_doctor.py
  tests/test_doctor_counts_loader_warnings.py
Due: Core Library, CLI Commands, Configuration

test(tier3): make the restore proof able to fail
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
Due: none

fix(paths): a backup location is never created, only what lies below it
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/local.py
  tests/test_absolute_snapshot_dir.py
  tests/test_configured_paths_are_not_created.py
  tests/test_timestamp_format_enforcement.py
Due: CLI Commands, Utilities

fix(legacy): honour --snapshot-folder, look at the source first, and refuse a silent full send
  src/btrfs_backup_ng/_legacy_main.py
  tests/test_legacy_never_creates.py
Due: none

fix(snapper): make the receive slot below the target instead of relying on a mkdir that is gone
  src/btrfs_backup_ng/core/operations.py
  tests/test_snapper_slot_is_created_below_the_target.py
Due: Core Library

test(paths): a structural guard over every directory the package can create
  tests/test_no_configured_path_is_created.py
Due: none

Path conditions:
  Core Library: any of: src/btrfs_backup_ng/core/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  CLI Commands: any of: src/btrfs_backup_ng/cli/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Configuration: any of: src/btrfs_backup_ng/config/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Utilities: any of: src/btrfs_backup_ng/__util__.py, src/btrfs_backup_ng/transaction.py, src/btrfs_backup_ng/retention.py, src/btrfs_backup_ng/notifications.py, but not: tests/**, **/__pycache__/**, **/conftest.py
