Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

test(tier3): snapper cells, local btrfs and ssh://, with the slot proven and the increment's bytes
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
Due: none

docs: state which paths must exist and which are created, by role
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-restore.1
  man/man1/btrfs-backup-ng-run.1
  man/man1/btrfs-backup-ng-snapper.1
  man/man1/btrfs-backup-ng-snapshot.1
  man/man1/btrfs-backup-ng-transfer.1
  man/man1/btrfs-backup-ng-verify.1
  man/man1/btrfs-backup-ng.1
Due: none

fix(legacy): stop describing an ssh:// source, and refuse one with the reason
  CHANGELOG.md
  src/btrfs_backup_ng/_legacy_main.py
  src/btrfs_backup_ng/cli/dispatcher.py
  tests/test_legacy_remote_source_refused.py
Due: CLI Commands

chore(release): 0.9.8
  CHANGELOG.md
  pyproject.toml
Due: none

chore: one diagnosis for a missing snapshot base, and a closed file in a test
  src/btrfs_backup_ng/cli/common.py
  tests/test_absolute_snapshot_dir.py
  tests/test_doctor_reports_only_what_it_checked.py
Due: CLI Commands

fix(restore): --in-place refuses instead of pretending
  CHANGELOG.md
  README.md
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  man/man1/btrfs-backup-ng-restore.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/restore.py
  tests/test_in_place_is_refused.py
Due: CLI Commands

docs(man): --overwrite says it is not supported, and a test keeps the three descriptions honest
  CHANGELOG.md
  man/man1/btrfs-backup-ng-restore.1
  tests/test_withdrawn_options_say_so_everywhere.py
Due: none

test(snapper): the receive-slot test creates the destination it uses
  tests/test_snapper_cmd.py
Due: none

fix(transfer): a failed send or receive reports what btrfs said
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_endpoints_drain_stderr.py
  tests/test_stderr_tail.py
  tests/test_transfer_report_carries_receive_stderr.py
Due: Core Library

feat(cli): --btrfs-debug for every command, and it now shows something
  CHANGELOG.md
  README.md
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng.1
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/cli/verify.py
  src/btrfs_backup_ng/config/loader.py
  src/btrfs_backup_ng/config/schema.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_btrfs_debug.py
Due: Core Library, CLI Commands, Configuration

test(tier3): acceptance cells for the restore paths nothing had driven
  tests/integration/tier3/conftest.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/integration/tier3/test_restore_paths.py
Due: none

feat(engine): identity is two-hop -- correspondence compares against stream_uuid
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/core/chunked_transfer.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/integration/tier2/conftest.py
  tests/integration/tier2/test_stream_identity_two_hop.py
  tests/test_atomic_commit_wiring.py
  tests/test_btrfs_debug.py
  tests/test_planner_listing_cost.py
  tests/test_r2_cleanup_recovery.py
  tests/test_r3_lock_persistence.py
  tests/test_r4_phase3b2_snapper.py
  tests/test_remembered_snapshot_names.py
  tests/test_stream_uuid_two_hop.py
  tests/test_transfer.py
  tests/test_transfer_report_carries_receive_stderr.py
Due: Core Library, Utilities

fix(locks): a refused lock says why, and names the ssh:// store it met
  CHANGELOG.md
  src/btrfs_backup_ng/_legacy_main.py
  src/btrfs_backup_ng/endpoint/common.py
  tests/test_abort_errors_carry_their_reason.py
  tests/test_restore_lock_reporting.py
Due: none

feat(locks): one lock store per location
  CHANGELOG.md
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  src/btrfs_backup_ng/sshutil/lock.py
  tests/integration/tier2/test_executor_verdict_real.py
  tests/test_abort_errors_carry_their_reason.py
  tests/test_local_lock_directory_store.py
  tests/test_restore.py
  tests/test_restore_lock_reporting.py
Due: none

feat(engine): the receive gets a verdict, and the executor learns what a restore needs
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/progress.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier2/test_executor_verdict_real.py
  tests/test_error_delivery.py
  tests/test_executor_verdict.py
  tests/test_progress.py
  tests/test_r1_orchestration_contract.py
  tests/test_r2_cleanup_recovery.py
  tests/test_r3_lock_persistence.py
Due: Core Library

feat(planning): a selection expands to the chain its source requires, or is refused
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/planning.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_planner_required_chain.py
  tests/test_undated_snapshots.py
Due: Core Library

feat(restore): a native restore is a transfer through the engine
  CHANGELOG.md
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/layout.py
  src/btrfs_backup_ng/core/restore.py
  tests/integration/tier2/test_restore_as_transfer_real.py
  tests/integration/tier3/test_restore_paths.py
  tests/test_cleanup_scavenger_authorship.py
  tests/test_native_restore_lock.py
  tests/test_no_configured_path_is_created.py
  tests/test_overwrite_is_not_silently_ignored.py
  tests/test_r4_phase1_correspondence.py
  tests/test_r4_phase3a_restore.py
  tests/test_restore.py
  tests/test_restore_as_transfer.py
  tests/test_restore_destination_prefix_parity.py
  tests/test_restore_layout.py
  tests/test_restore_lock_lifecycle.py
  tests/test_restore_parent_selection.py
  tests/test_restore_says_what_it_did.py
Due: Core Library, CLI Commands

feat(ssh): --compress on an ssh:// restore source compresses the wire
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/transfer.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/integration/tier3/test_restore_paths.py
  tests/test_ssh_restore_compress.py
Due: Core Library

docs(restore): the README and man page describe how restore now works
  CHANGELOG.md
  README.md
  man/man1/btrfs-backup-ng-restore.1
Due: none

test: name the test files for what they test
  tests/test_atomic_persistence.py
  tests/test_cleanup_recovery.py
  tests/test_control_lock_hardening.py
  tests/test_correspondence.py
  tests/test_hostkey_policy.py
  tests/test_local_transfer_returncode.py
  tests/test_lock_persistence.py
  tests/test_prune_safety.py
  tests/test_raw_encryption.py
  tests/test_raw_encryption_cli_roundtrip.py
  tests/test_raw_endpoint_integration.py
  tests/test_raw_parent_protection.py
  tests/test_remote_shell_quoting.py
  tests/test_snapper_backup_identity.py
  tests/test_ssh_hostkey.py
  tests/test_ssh_receive_command_quoting.py
  tests/test_transfer_planner.py
  tests/test_transfer_success_contract.py
  tests/test_transfer_success_legacy_exit_code.py
  tests/test_transfer_success_orchestration.py
  tests/test_transfer_success_raw_chunked.py
  tests/test_uuid_identity.py
Due: none

chore(release): 0.9.9
  CHANGELOG.md
  pyproject.toml
Due: none

fix(cli): [global] quiet, verbose and btrfs_debug reach the console
  CHANGELOG.md
  README.md
  src/btrfs_backup_ng/__logger__.py
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/doctor.py
  src/btrfs_backup_ng/cli/estimate.py
  src/btrfs_backup_ng/cli/list_cmd.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapshot.py
  src/btrfs_backup_ng/cli/status.py
  src/btrfs_backup_ng/cli/transfer.py
  tests/test_config_verbosity.py
Due: CLI Commands

feat(planning): plan a present selection again, or check a selection without expanding it
  src/btrfs_backup_ng/core/planning.py
  tests/test_planner_required_chain.py
Due: Core Library

feat(snapper): the numbered-slot lifecycle is one layout object for both directions
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/core/layout.py
  src/btrfs_backup_ng/core/operations.py
  tests/test_rename_noreplace.py
  tests/test_snapper_cmd.py
  tests/test_snapper_info_xml_placement.py
  tests/test_snapper_layout.py
  tests/test_snapper_slot_is_created_below_the_target.py
Due: Core Library, Utilities

fix(snapper): restore is a transfer through the engine, with the parent chosen from the config
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/core/restore.py
  tests/integration/tier2/test_snapper_layout_real.py
  tests/integration/tier3/test_restore_paths.py
  tests/test_cleanup_authorship.py
  tests/test_no_configured_path_is_created.py
  tests/test_restore.py
  tests/test_snapper_cmd.py
  tests/test_snapper_remote_restore.py
  tests/test_snapper_restore_as_transfer.py
Due: Core Library, CLI Commands

docs(snapper): the documentation describes how snapper restore works now
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
Due: none

fix(snapper): the reminder after a restore names what makes snapperd see it
  CHANGELOG.md
  README.md
  docs/CLI-REFERENCE.md
  docs/SNAPPER-INTEGRATION.md
  man/man1/btrfs-backup-ng-snapper.1
  src/btrfs_backup_ng/cli/snapper_cmd.py
  tests/test_snapper_cmd.py
Due: CLI Commands

fix(config): the wizard keeps what it does not ask about when it saves over a config
  CHANGELOG.md
  README.md
  man/man1/btrfs-backup-ng-config.1
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/cli/config_cmd.py
  tests/test_wizard_keeps_options.py
Due: CLI Commands, Utilities

feat(run): a target that is behind is sent what its prune will keep
  CHANGELOG.md
  man/man1/btrfs-backup-ng-run.1
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/core/operations.py
  tests/test_run_sends_what_prune_keeps.py
Due: Core Library, CLI Commands

fix(retention): a snapshot named with a collision counter is managed, not kept forever
  CHANGELOG.md
  src/btrfs_backup_ng/retention.py
  tests/test_retention_reads_the_collision_counter.py
Due: Utilities

chore(release): 0.9.10
  CHANGELOG.md
  pyproject.toml
Due: none

fix(ssh): no remote command carries a history-expanding `!`
  CHANGELOG.md
  docs/REMOTE-LOCKS.md
  src/btrfs_backup_ng/endpoint/ssh.py
  tests/test_csh_login_shell.py
  tests/test_ssh_stream_compression.py
Due: none

docs(run): say what a raw target holds after a catch-up, and test the selector under a custom timestamp format
  CHANGELOG.md
  man/man1/btrfs-backup-ng-run.1
  tests/test_run_sends_what_prune_keeps.py
Due: none

fix(snapper): a listing of backups that failed is not "no backups"
  CHANGELOG.md
  src/btrfs_backup_ng/core/operations.py
  tests/test_snapper_backup_identity.py
  tests/test_snapper_least_privilege.py
Due: Core Library

fix(retention): read every name the way the listing does and order ties by counter, then creation order
  CHANGELOG.md
  src/btrfs_backup_ng/__util__.py
  src/btrfs_backup_ng/retention.py
  tests/test_collision_counter_is_the_only_tiebreak.py
  tests/test_retention.py
  tests/test_retention_reads_names_like_the_listing.py
  tests/test_retention_reads_the_collision_counter.py
  tests/test_retention_timezone.py
Due: Utilities

feat(run): send a snapper target that is behind only what its prune will keep
  CHANGELOG.md
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_snapper_retention_breaks_same_second_ties.py
  tests/test_snapper_run_sends_what_prune_keeps.py
Due: Core Library, CLI Commands

fix(prune): prune a snapper volume's destinations as run does
  CHANGELOG.md
  man/man1/btrfs-backup-ng-prune.1
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/prune.py
  src/btrfs_backup_ng/cli/run.py
  tests/integration/tier3/test_acceptance_matrix.py
  tests/test_prune_prunes_snapper_destinations.py
Due: CLI Commands

fix(run): never strand a lock or send an undated subvolume in the catch-up
  CHANGELOG.md
  src/btrfs_backup_ng/cli/run.py
  tests/test_catch_up_leaves_out_only_what_it_may.py
Due: CLI Commands

fix(snapper): close seven edges of the backup and restore paths
  CHANGELOG.md
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/core/layout.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/core/restore.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/local.py
  src/btrfs_backup_ng/snapper/scanner.py
  src/btrfs_backup_ng/sshutil/lock.py
  tests/integration/tier2/test_snapper_layout_real.py
  tests/test_no_configured_path_is_created.py
  tests/test_snapper_backup_identity.py
  tests/test_snapper_edges_hold.py
  tests/test_snapper_layout.py
  tests/test_snapper_restore_as_transfer.py
  tests/test_snapper_run_sends_what_prune_keeps.py
Due: Core Library, CLI Commands

Path conditions:
  Core Library: any of: src/btrfs_backup_ng/core/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  CLI Commands: any of: src/btrfs_backup_ng/cli/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Configuration: any of: src/btrfs_backup_ng/config/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Utilities: any of: src/btrfs_backup_ng/__util__.py, src/btrfs_backup_ng/transaction.py, src/btrfs_backup_ng/retention.py, src/btrfs_backup_ng/notifications.py, but not: tests/**, **/__pycache__/**, **/conftest.py
