Repository berrym/btrfs-backup-ng: changes, and which Codecov flags are due for each by the changed paths.
All: Core Library, CLI Commands, Configuration, Utilities

chore: Bump version to 0.8.4 with raw-encryption security advisory
  CHANGELOG.md
  pyproject.toml
Due: none

test(core): pin the local transfer return-code contract
  tests/test_r1_local_transfer_returncode.py
Due: none

fix(cli): thread raw-target encryption to the endpoint; fail closed if dropped
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/endpoint/__init__.py
  tests/test_r6_raw_encryption.py
Due: CLI Commands

test(btrbk): round-trip migrated encryption through the loader, not the string
  src/btrfs_backup_ng/cli/common.py
  tests/test_btrbk_import_raw.py
Due: CLI Commands

fix: write raw backup streams atomically to prevent phantom backups
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/common.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/integration/test_chunked_operations.py
  tests/test_atomic_commit_wiring.py
  tests/test_r1_raw_chunked_contract.py
  tests/test_r2_cleanup_recovery.py
  tests/test_raw_atomic_write.py
  tests/test_raw_endpoint.py
  tests/test_raw_endpoint_integration.py
Due: Core Library

fix: make raw backups restorable via the Snapshot interface
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_endpoint.py
  tests/test_raw_snapshot_interface.py
Due: Core Library

feat: auto-write authoritative .meta sidecar on every raw backup (schema v2)
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_atomic_write.py
  tests/test_raw_endpoint.py
  tests/test_raw_endpoint_integration.py
  tests/test_raw_metadata.py
  tests/test_raw_sidecar.py
Due: none

feat: raw+ssh restore + preflight + portable remote stat
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_endpoint.py
  tests/test_raw_ssh_restore.py
Due: none

fix(raw): honor recorded openssl cipher on restore; harden cipher/passphrase handling
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_r6_raw_encryption.py
  tests/test_raw_openssl_cipher.py
Due: Core Library

refactor(raw): single shared atomic sidecar writer for engine and commands
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_endpoint.py
  tests/test_raw_endpoint_integration.py
  tests/test_raw_sidecar_writer.py
Due: none

feat(cli): add raw command family with raw list
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-raw.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  tests/test_cli.py
  tests/test_raw_cmd.py
Due: CLI Commands

feat(raw): seal a ciphertext sha256 into every raw backup sidecar
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_checksum.py
  tests/test_raw_sidecar.py
Due: none

feat(cli): add raw verify to check backups against their recorded checksums
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-raw.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_cmd.py
  tests/test_raw_verify.py
Due: CLI Commands

feat(cli): add raw backfill-metadata for legacy streams without a sidecar
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-raw.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_backfill.py
Due: CLI Commands

feat(cli): add raw encrypt to remediate plaintext raw backups
  completions/btrfs-backup-ng.bash
  completions/btrfs-backup-ng.fish
  completions/btrfs-backup-ng.zsh
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-raw.1
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_encrypt.py
Due: CLI Commands

feat(raw): serialize mutating raw operations with a per-target lock
  docs/CLI-REFERENCE.md
  man/man1/btrfs-backup-ng-raw.1
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_lock.py
Due: CLI Commands

fix(raw): record compression in the sidecar so compressed backups restore
  src/btrfs_backup_ng/cli/common.py
  src/btrfs_backup_ng/cli/run.py
  src/btrfs_backup_ng/cli/snapper_cmd.py
  src/btrfs_backup_ng/cli/transfer.py
  src/btrfs_backup_ng/core/operations.py
  src/btrfs_backup_ng/endpoint/__init__.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_compress_integrity.py
Due: Core Library, CLI Commands

fix(raw): stop a FIFO lock file from hanging every operation forever
  src/btrfs_backup_ng/cli/raw_cmd.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_lock.py
Due: CLI Commands

fix(raw): fail loud when a raw stream cannot be decoded or a tool is missing
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_pipeline_validation.py
  tests/test_raw_ssh_restore.py
Due: none

fix(raw): verify a stored stream before restoring it, and pipefail the restore
  src/btrfs_backup_ng/cli/dispatcher.py
  src/btrfs_backup_ng/cli/restore.py
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_restore_integrity.py
Due: CLI Commands

fix(raw): never report an unreachable raw+ssh target as an empty one
  src/btrfs_backup_ng/endpoint/raw.py
  tests/test_raw_ssh_list_errors.py
Due: none

fix(raw): surface a damaged sidecar instead of silently degrading or crashing
  src/btrfs_backup_ng/endpoint/raw.py
  src/btrfs_backup_ng/endpoint/raw_metadata.py
  tests/test_raw_sidecar_robustness.py
Due: none

Path conditions:
  Core Library: any of: src/btrfs_backup_ng/core/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  CLI Commands: any of: src/btrfs_backup_ng/cli/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Configuration: any of: src/btrfs_backup_ng/config/**, but not: tests/**, **/__pycache__/**, **/conftest.py
  Utilities: any of: src/btrfs_backup_ng/__util__.py, src/btrfs_backup_ng/transaction.py, src/btrfs_backup_ng/retention.py, src/btrfs_backup_ng/notifications.py, but not: tests/**, **/__pycache__/**, **/conftest.py
